{% extends 'base.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="height: 500px; width: 1920px;">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active carousel-image">
                <img src="{{ asset("/pictures/carousel/pic1.jpeg") }}">
            </div>
            <div class="item carousel-image">
                <img src="{{ asset("/pictures/carousel/pic3.jpg") }}">
            </div>
        </div>
        <!-- Left and right controls -->
        <div>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- End of Carousel -->

{% endblock %}

{% block footer %}
    <hr>
    <ul class="nav nav-pills" style="width: 500px; margin: 0 auto;">
        <li class="list-style"><a href="https://www.facebook.com/banciu.bogdana" style=" font-family: 'Segoe UI';"><i class="fa fa-facebook" aria-hidden="true"></i> FACEBOOK</a></li>
        <li class="list-style"><a href="https://www.instagram.com/bogdana.banciu/" style="font-family: 'Segoe UI';"><i class="fa fa-instagram" aria-hidden="true"></i> INSTAGRAM</a></li>
        <li class="list-style"><a href="https://ro.pinterest.com/bogdana_banciu/" style="font-family: 'Helvetica Neue'"><i class="fa fa-pinterest-p" aria-hidden="true"></i> PINTEREST</a></li>
    </ul>
    <hr>

    <!-- SnapWidget -->
    <iframe src="https://snapwidget.com/embed/415030" class="snapwidget-widget widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>

    <!-- Footer cu all rights reserved -->
    <div class="footer">
        © 2017 Bogdana Banciu. All Rights Reserved.
    </div>
{% endblock %}
