ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: #696969;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    padding: 45px 50px;
}

#media-bar ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
}

#media-bar li {
    float: left;
}

#media-bar li a {
    color: #696969;
    text-decoration: none;
    padding-left: 40px;
    float: left;
}

.vertical-menu li a {
    display: block;
}

.list-style {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}