h1 {
    font-family: Scriptina;
    text-align: right;
    font-weight: bold;
}

.brand-font {
    font-family: Scriptina;
    text-align: right;
    font-weight: bold;
    font-size: 37px;
    color: black;
}

.menu-font {
    font-family: "Gill Sans Ultra Bold";
    font-size: 20px;
}


/*  Exemplu de font-face !!
@font-face {
    font-family: 'scriptinaregular';
    src: url('../scriptina-font/scriptin-webfont.woff2') format('woff2'),
    url('../scriptina-font/scriptin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */