{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('/pictures/carousel/pic1.jpeg') }}" width="1920px" height="500px" style="z-index: 1;">
    <div class="container div-contact">
        <div class="row row-contact">
            <div class="col-md-10 col-md-push-1">
                <div class="entry-inner">
                    <h2 style="font-weight: bold; padding-top: 20px;">Contact</h2>
                    <br>
                    <h4 style="font-weight: bold;">Business Inquiries</h4>
                    <p>For business inquiries, please write to contact@aglimpseofhappiness.com, we will get back to you shortly.</p>
                    {% include '/forms/contactForm.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

